<h1> Welcome to a wholesome Kanye space </h1>
A place to reminisce the old Kanye. 
<img src="https://i2-prod.mirror.co.uk/incoming/article5775942.ece/ALTERNATES/n310p/PAY-Kanye-West-is-dressed-casually-at-LAX-as-the-happy-hip-hop-icon-catches-an-early-morning-flight-to-San-Francisco.jpg">
<p> Click continue </p>
<form action ="/quote_form">
<button>
Continue
</button>
</form>
