<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    body {
      background-color: #ffd803;
      background-color: #e5e5f7;
      opacity: 0.8;
      background-image:  linear-gradient(30deg, #f7e345 12%, transparent 12.5%, transparent 87%, #f7e345 87.5%, #f7e345), linear-gradient(150deg, #f7e345 12%, transparent 12.5%, transparent 87%, #f7e345 87.5%, #f7e345), linear-gradient(30deg, #f7e345 12%, transparent 12.5%, transparent 87%, #f7e345 87.5%, #f7e345), linear-gradient(150deg, #f7e345 12%, transparent 12.5%, transparent 87%, #f7e345 87.5%, #f7e345), linear-gradient(60deg, #f7e34577 25%, transparent 25.5%, transparent 75%, #f7e34577 75%, #f7e34577), linear-gradient(60deg, #f7e34577 25%, transparent 25.5%, transparent 75%, #f7e34577 75%, #f7e34577);
      background-size: 80px 140px;
      background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
