
<h1>Welcome to trying to feel your Kanye-Best</h1>
I know we all miss the old Kanye, straight from the Go Kanye. Chop up the soul Kanye, set on his goals Kanye.
  <p>Click to get some inspiration or to get silly. </p>
<form action ="/quote_result">
  <button>
  Ready!
  </button>
</form>
